@import "./tools/reset", "./tools/fonts", "./tools/colors";

@font-face {
  font-family: "Menlo Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Menlo Regular"),
    url("/assets/fonts/Menlo-Regular.woff") format("woff");
}

* {
  font-family: $font;
}
.BodyPartSelectContainer {
  background-color: rgba(0, 0, 0, 0.05) !important;
  // border-color: purple !important;
}
body {
  max-width: 100vw;
  background-color: $background;
}
.searchContainer {
  height: 18vh;
  border: 2px solid blue;
}
.iconToggleMenu {
  path {
    fill: white;
  }
}
.annonce {
  @include basics;
  font-size: $story-title-desktop;
  color: $red;
  width: 100%;
  text-align: center;
}
// CreateStoryForm indication fieldset1
.pourEtrePublie {
  font-family: $font2 !important;
  // color: red;
}

div[id$="listbox"] {
  border: 1px solid $dark-green-2;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 99;
  div[class$="-MenuList"] {
    div[class$="-option"] {
      &:hover {
        color: white;
        background-color: $dark-green-2;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  /* tablettes et ordinateurs */
}
@media only screen and (max-width: 767px) {
  /* smartphone */
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* smartphone en mode portait */
}

// Mukhtar

.Dashboard-header {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.Dashboard-policies-popup-body {
  padding-inline: 20px !important;
}

.modal-header {
  .modal-title {
    color: #01989f;
  }
  button {
    background: none;
    border: none;

    span {
      color: #01989f;
      font-size: 22px;
    }
  }
}

.modal-links {
  border-bottom: 1px solid blue;
  color: blue;
  cursor: pointer;
}

.cookies-border-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    border: 1px solid black;
    width: 70%;
    padding: 10px;
  }

  .cookies-toggle {
    padding-right: 50px;
  }
}

.cookies-borderless-section {
  .headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.modal-button-cancel,
.modal-button-accept {
  border-radius: 10px;
  border: 2px solid #01989f;
  padding: 5px 10px;
}

.modal-button-cancel {
  background: none;
  color: #01989f;
}

.modal-button-accept {
  background: #01989f;
  color: white;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-switch.ant-switch-checked {
  background-color: #01989f !important;
}
